In [5]:
# Importar librerÃ­a 
import pandas as pd

# Carga del dataset 
file_path = "/Users/nicolasalderete/Documents/Proyectos/Top-100-Airports-Analysis/data/Top 100 Bussiest Airports in the World - Sheet2.csv"  
df = pd.read_csv("/Users/nicolasalderete/Documents/Proyectos/Top-100-Airports-Analysis/data/Top 100 Bussiest Airports in the World - Sheet2.csv")

# Inspeccionar la estructura del dataset
print("ðŸ“Œ Dimensiones del dataset:", df.shape)  # NÃºmero de filas y columnas
print("\nðŸ“Œ Primeras filas del dataset:")
display(df.head())  # Primeras 5 filas

print("\nðŸ“Œ InformaciÃ³n general del dataset:")
df.info()  # InformaciÃ³n sobre tipos de datos y valores nulos

print("\nðŸ“Œ EstadÃ­sticas descriptivas:")
display(df.describe())  # EstadÃ­sticas de columnas numÃ©ricas

print("\nðŸ“Œ Valores nulos por columna:")
print(df.isnull().sum())  # Recuento de valores nulos en cada columna

ðŸ“Œ Dimensiones del dataset: (100, 6)

ðŸ“Œ Primeras filas del dataset:

,Rank,Airport,Code,Location,Country,Passengers
0,1,Hartsfieldâ€“Jackson Atlanta International Airport,ATL,Atlanta,United States,"103,902,992"
1,2,Beijing Capital International Airport,PEK,Beijing,China,"95,786,442"
2,3,Dubai International Airport,DXB,Dubai,United Arab Emirates,"88,242,099"
3,4,Los Angeles International Airport,LAX,Los Angeles,United States,"84,557,968"
4,5,O'Hare International Airport,ORD,Chicago,United States,"79,828,183"

ðŸ“Œ InformaciÃ³n general del dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Rank        100 non-null    int64
 1   Airport     100 non-null    object
 2   Code        100 non-null    object
 3   Location    100 non-null    object
 4   Country     100 non-null    object
 5   Passengers  100 non-null    object
dtypes: int64(1), object(5)
memory usage: 4.8+ KB

ðŸ“Œ EstadÃ­sticas descriptivas:

             Rank
count  100.000000
mean    50.500000
std     29.011492
min      1.000000
25%     25.750000
50%     50.500000
75%     75.250000
max    100.000000

ðŸ“Œ Valores nulos por columna:
Rank          0
Airport       0
Code          0
Location      0
Country       0
Passengers    0
dtype: int64